# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\mything\backend-pokemonkg\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
